/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

/*styles*/
html, body {
	height: 100px;
}

:root {
	--bg-colour: #1A1826;
	--text-colour: #D9E0EE;
	--bg-secondary: ;
	--bg-hover: #1E1E2E;
	--title-bg: #89DCEB;
}
.maintext {
	font-family: "Fira Code";
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
}
body {
	text-align: center;
	background-image: linear-gradient(rgba(22, 19, 32, 0.75), rgba(22, 19, 32, 0.75)),url(../images/CB.png);
	background-repeat: no-repeat;
 	background-attachment: fixed;
 	color: var(--text-colour);
	margin-bottom: 10px;
}
img {
	margin: 20px;
}
#bodybox {
	display: flex;
}
.mainbody {
	padding: 2px;
	width: 100%;
}
.topbar {
	height: 80px;
	text-align: left;
	background-color: var(--bg-colour);
	padding: 1px;
	display: flex;
	align-items: center;
}
.topbar img {
	height: 70px;
	width: 70px;
}
.titleblock {
	display: block;
	overflow: hidden;
	border-radius: 2px;
	background-image: linear-gradient(to bottom, var(--title-bg), var(--title-bg) 25%, var(--bg-colour) 25%, var(--bg-colour) 50%);
	margin: 5px;
}
.menubar {
	background-color: var(--bg-colour);
	flex-basis: 200px;
	text-align: center;
	border-radius: 1px;
}
.menublock {
	border-top: 1px solid;
	border-bottom: 1px solid;
}
.menubar a {
	padding: 6px 6px 0px 16px;
  text-decoration: none;
  font-size: 14px;
  display: block;
}
.menubar a:hover ::before {
	content: '> ';
}
.menubar img {
	position: relative;
	width: 50%;
	transition: 0.2s;
}
.menubar img:hover {
	transform: scale(1.05);
}
#menu {
  align-items: center;
 	text-align: left;
 	padding: 0.5px;
}
.textblock {
	margin: 5px;
	padding: 10px;
	transition: 0.5s;
	flex: 1;
	flex-grow: 3;
	background-color: var(--bg-colour);
	border-radius: 2px;
}
.blockholder {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: nowrap;
}
.homeholder {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}
.break {
  flex-basis: 100%;
  height: 25;
}
.sidebarImg {
	display: block; 
	/*top: 5%;*/ 
	position: relative;
}
.sidebarImg img {}
.toptext {display: block;}
.socialContainer {
	display: inline-block;
}
.blanktextblock {
	flex: 1;
	flex-grow: 4;
}
