.maintext {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
}
body {
  text-align: center;
  background-image: linear-gradient(#33333389,#33333389),url(../images/CB.png);
  background-repeat: no-repeat;
 	background-attachment: fixed;
 	color: #e5e9f0;
	margin-bottom: 10px;
}
img {
	margin: 20px;
}
.mainbody {
	margin-left: 160px;
}
.titleblock {
	border-radius: 5px;
	background-image: linear-gradient(to bottom, #88c0d0, #88c0d0 25%, #3b4252 25%, #3b4252 50%, #3b4252 75%);
	margin: 20px;
	flex: 1;
	flex-grow: 3;
}
.menubar {
	background-color: #3b4252;
	position: fixed;
	z-index: 1;
	overflow-x: hidden;
	width: 160px;
	padding-left: 0;
  	padding-right: 0;
	height: 100%;
	text-align: center;
	border-radius: 5px;
}
.menubar a {
	padding: 6px 8px 6px 16px;
  	text-decoration: none;
  	font-size: 15px;
  	display: block;
}
.menubar img {
	position: relative;
	width: 50%;
}
.menubar img:hover {
	transform: scale(1.05);
}
#menu {
  	align-items: center;
  	text-align: left;
  	padding: 0.5px;
}
.textblock {
	margin: 20px;
	padding: 10px;
	transition: 0.5s;
	flex: 1;
	flex-grow: 3;
	background-color: #3b4252;
	border-radius: 5px;
}
.textblock:hover {
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
	background-color #3b4252;
	transform: scale(1.01);
}
.blockholder {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
	margin: 10px;
}
.break {
  flex-basis: 100%;
  height: 25;
}
.sidebarImg {
	display: block;
  	margin-left: auto;
 	margin-right: auto;
  	width: 100%;
}
.socialContainer {
	display: inline-block;
}
.blanktextblock {
	flex: 1;
	flex-grow: 4;
	border-radius: 5px;
}
